<div class="container">
  <div class="card-list-container pt-1 pb-5">
    <!-- カードを4枚並べにする  -->
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>