<div class = "container">
  <div class = "row no-gutters">
    <div class = "col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-2">
      <h5 class = "text-dark p-4 mb-0" style="background-color: #e9ecef;">新規投稿</h5>
      <div class = "form-body p-4">
        <!-- 投稿フォームの共通書式 -->
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>